#toolbar {
    display: flex;
    align-items: center;
    gap: 4px;
}

.actions {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: transparent !important;
}

.actions>button {
    max-width: 64px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#changelist-search>div {
    display: flex;
    gap: 4px;
    align-items: center;
}

#search-result {
    height: 24px;
}

@media (max-width: 1286px) {
    #toolbar {
        flex-direction: column;
    }
    #search-toolbar {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #changelist-search {
        width: 100%;
    }
}

#actions-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

#changelist-search>div>input {
    max-width: 200px !important;
}

#search-toolbar>form>div>label {
    height: 24px;
    width: 24px;
    text-align: center;
}

#search-toolbar>form>div>label>img {
    margin: auto;
}

#search-toolbar>form>div>input {
    height: 24px !important;
    line-height: 0;
}