<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <title>פרטי הזמנת רכישה - #{{ order.po_number }}</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        direction: rtl;
        text-align: right;
    }
    p {
        margin: 20px 0;
    }
    ul {
        list-style-type: decimal;
        margin: 10px 0;
        padding: 0 20px;
    }
    li {
        margin: 10px 0;
    }
    .contact-info {
        margin: 20px 0;
    }
    .contact-info h3 {
        margin: 10px 0;
    }
    .contact-info p {
        margin: 5px 0;
    }
    </style>
  </head>
  <body>
    <p>
        היי,<br>
        הזמנת רכש חדשה, מצרפים כאן הוראות אספקה<br>
        כמה נקודות ולקחים מחג קודם:
    </p>
    <ul>
        <li>
            נבקש לקבל ברקוד 13 ספרות (במידה ולא שלחתם) לכלל המוצרים אשר נשלחים אלינו למרלוג- ללא זה המרלוג לא ידע לקלוט את המוצרים ולא ידע ללקט אותם.
        </li>
        <li>
            מוצרים אשר נשלחים בתפזורת נבקש לשים בקרטון מרוכז ולסמן אותו כך שנדע שזה קרטון תפזורת, בחג הקודם היו יותר מידי מוצרים קטנים שנזרקו על המשטח וכתוצאה מכך המוצרים נפגמו. בנוסף, נרצה שיהיו כמה שיותר משטחים הומוגניים.
        </li>
        <li>
            נא לשייך כל הזמנת רכש לתעודת משלוח ולחשבונית - מאוד מאוד חשוב.
        </li>
        <li>
            לאחר כל שליחת הזמנת הרכש נא לאשר שקיבלתם את ההזמנה שנדע שהיא אושרה. במידה ויש מוצרים שמתעכבים נרצה לדעת כמובן תאריכים, מוצרים שאין במלאי וקיימת חלופה נשמח לקבל אותה. המטרה היא שהלקוחות יקבלו מתנות פיזיות ולא שוברים ואם ניתן למצוא חלופה אז מעולה.
        </li>
        <li>
            באקסל של הזמנת הרכש קיימת עמודה של סטטוס מלאי נוכחי - בבקשה כמו בבדיקות מלאי הקודמות, באם יש מוצרים שאינם במלאי, מלאי נמוך (נשמח לדעת מספר מדויק), לא הגיע עדיין וכו' נשמח לקבל עדכון במייל חוזר.
        </li>
        <li>
            חייב לתאם אספקה, לתיאום אספקה נא ליצור קשר עם:
            <ul>
                <li>איש קשר 1 - רוני - 0529528829</li>
                <li>איש קשר 2 - יותם - 0525743740</li>
            </ul>
            *** ניתן לתאם גם במייל חוזר
        </li>
    </ul>

    <div class="contact-info">
        <h3>כתובת לאספקה:</h3>
        <p>מרלוג אוריאן, פקר 12, קריית מלאכי</p>

        <h3>אנשי קשר לקבלת סחורה במרלוג:</h3>
        <p>איש קשר במרלוג 1: אלי - 054-253-1259</p>
        <p>איש קשר במרלוג 2: יקי - 050-877-7556</p>
        <p>איש קשר ניקלס 1: יותם - 050-742-8054</p>
    </div>

    <p>תודה רבה על הכל ושיהיה המשך יום מצוין :)<br>רוני<br>0529528829</p>
 </body>
</html>