<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Nicklas Company - Purchase Order #{{ order.po_number }}</title>
  </head>
  <body>
    <p style="margin-bottom: 20px;">Hi,</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">A new purchase order has been placed. Attached are the supply instructions.</p>
    <p style="font-weight: bold;margin:0;padding:0;margin-bottom: 20px;">A few key points and lessons from the previous holiday:</p>
    <p style="margin-bottom: 20px;">1. Please ensure that all products shipped to our warehouse include a 13-digit barcode (if not already provided). Without this, the warehouse will not be able to receive or pick the products.</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">2. Products shipped in bulk should be placed in a consolidated carton and marked accordingly to indicate it is a bulk carton. In the previous holiday, too many small products were scattered on the pallet, resulting in product damage.</p>
    <p style="margin:0;padding:0;margin-bottom: 20px;">Additionally, we would like to have as many homogeneous pallets as possible.</p>
    <mark style="font-weight: bold; font-size: larger;">3. Please ensure that each purchase order is linked to a delivery note and an invoice – this is very important.</mark>
    <p style="margin:0;padding:0;margin-top: 20px;margin-bottom:3px;">4. After sending each purchase order, <span style="font-weight: bold; margin-left: 3px; margin-right: 3px;">please confirm</span> that you have received the order so we know it has been approved.</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">If there are any delayed products, we would like to be informed with expected dates. If any items are out of stock and there is an alternative, we would be happy to receive that information.</p>
    <p style="margin:0;padding:0;margin-bottom:20px;">Our goal is to provide customers with physical gifts rather than vouchers, so if an alternative is available, that would be great.</p>
    <p style="margin-bottom: 20px;">5. The purchase order Excel file contains a column for current stock status. As in previous stock checks, if there are out-of-stock items, low stock (please provide an exact number), or items that have not yet arrived, please send an update via email.</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">6. Delivery coordination is required. To coordinate delivery, please contact:</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">Contact Person 1 - Roni - 0529528829</p>
    <p style="margin:0;padding:0;margin-bottom:20px;">Contact Person 2 - Yotam - 0525743740</p>
    <p style="margin-bottom: 20px;">*** Coordination can also be done via email.</p>
    <p style="margin:0;padding:0;margin-bottom:3px;text-decoration: underline;">Delivery Address</p>
    <p style="margin:0;padding:0;margin-bottom:20px;">Gilboa 2, Airport City, Kiryat Sde Teufa</p>
    <p style="margin:0;padding:0;margin-bottom:3px;text-decoration: underline;">Contacts for receiving goods at the warehouse</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">Warehouse Contact 1: Shmuel - 054-888-5325</p>
    <p style="margin:0;padding:0;margin-bottom:20px;">Nicklas Contact 1: Yotam - 050-742-8054</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">Thank you for everything, and have a wonderful day! :)</p>
    <p style="margin:0;padding:0;margin-bottom:3px;">Roni</p>
    <p style="margin:0;padding:0;margin-bottom:20px;">0529528829</p>
 </body>
</html>