<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <title> חברת ניקלס - הזמנת רכש מספר #{{ order.po_number }}</title>
  </head>
  <body>
    <div dir="rtl">
      <p style="margin-bottom: 20px;">היי,</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">הזמנת רכש חדשה, מצרפים כאן הוראות אספקה</p>
      <p style="font-weight: bold;margin:0;padding:0;margin-bottom: 20px;">כמה נקודות ולקחים מחג קודם:</p>
      <p style="margin-bottom: 20px;">1. נבקש לקבל ברקוד 13 ספרות (במידה ולא שלחתם) לכלל המוצרים אשר נשלחים אלינו למרלוג- ללא זה המרלוג לא ידע לקלוט את המוצרים ולא ידע ללקט אותם.</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">2. מוצרים אשר נשלחים בתפזורת נבקש לשים בקרטון מרוכז ולסמן אותו כך שנדע שזה קרטון תפזורת, בחג הקודם היו יותר מידי מוצרים קטנים שנזרקו על המשטח וכתוצאה מכך המוצרים נפגמו.</p>
      <p style="margin:0;padding:0;margin-bottom: 20px;">בנוסף, נרצה שיהיו כמה שיותר משטחים הומוגניים.</p>
      <mark style="font-weight: bold; font-size: larger;">3. נא לשייך כל הזמנת רכש לתעודת משלוח ולחשבונית- מאוד מאוד חשוב </mark>
      <p style="margin:0;padding:0;margin-top: 20px;margin-bottom:5px;">4. לאחר כל שליחת הזמנת הרכש<span style="font-weight: bold; margin-left: 3px; margin-right: 3px;">נא לאשר</span>שקיבלתם את ההזמנה שנדע שהיא אושרה.</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">במידה ויש מוצרים שמתעכבים נרצה לדעת כמובן תאריכים, מוצרים שאין במלאי וקיימת חלופה נשמח לקבל אותה.</p>
      <p style="margin:0;padding:0;margin-bottom:20px;">המטרה היא שהלקוחות יקבלו מתנות פיזיות ולא שוברים ואם ניתן למצוא חלופה אז מעולה.</p>
      <p style="margin-bottom: 20px;">5. באקסל של הזמנת הרכש קיימת עמודה של סטטוס מלאי נוכחי - בבקשה כמו בבדיקות מלאי הקודמות באם יש מוצרים שאינם במלאי, מלאי נמוך (נשמח לדעת מספר מדויק), לא הגיע עדיין וכו נשמח לקבל עדכון במייל חוזר.</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">6. חייב לתאם אספקה, לתיאום אספקה נא ליצור קשר עם:</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">איש קשר 1 - רוני - 0529528829</p>
      <p style="margin:0;padding:0;margin-bottom:20px;">איש קשר 2- יותם 0525743740</p>
      <p style="margin-bottom: 20px;">*** ניתן לתאם גם במייל חוזר</p>
      <p style="margin:0;padding:0;margin-bottom:5px;text-decoration: underline;">תובת לאספקה</p>
      <p style="margin:0;padding:0;margin-bottom:20px;">גלבוע 2, קרית שדה התעופה, איירפורט סיטי</p>
      <p style="margin:0;padding:0;margin-bottom:5px;text-decoration: underline;">אנשי קשר לקבלת סחורה במרלוג</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">איש קשר במרלוג 1: שמואל  - 054-888-5325</p>
      <p style="margin:0;padding:0;margin-bottom:20px;">איש קשר ניקלס 1: יותם - 050-742-8054</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">תודה רבה על הכל ושיהיה המשך יום מצויין:)</p>
      <p style="margin:0;padding:0;margin-bottom:5px;">רוני</p>
      <p style="margin:0;padding:0;margin-bottom:20px;">0529528829</p>
    <div>
 </body>
</html>
