<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Purchase Order Details - #{{ order.po_number }}</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }
    p {
        margin: 20px 0;
    }
    ul {
        list-style-type: decimal;
        margin: 10px 0;
        padding: 0 20px;
    }
    li {
        margin: 10px 0;
    }
    .contact-info {
        margin: 20px 0;
    }
    .contact-info h3 {
        margin: 10px 0;
    }
    .contact-info p {
        margin: 5px 0;
    }
    </style>
  </head>
  <body>
    <p>
        Hi,<br><br>
    
        New purchase order, attached here are the delivery instructions.<br><br>
    
        A few points and lessons from the previous holiday:
    </p>
    <ul>
        <li>
            We request to receive a 13-digit barcode (if you haven’t sent it) for all products that are shipped to us to the warehouse – without it, the warehouse won’t be able to receive and pick the products.
        </li>
        <li>
            Products that are shipped loose should be placed in a consolidated carton and marked so we know it’s a loose carton. In the previous holiday, there were too many small products thrown on the pallet, resulting in damage to the products. Additionally, we would like as many homogeneous pallets as possible.
        </li>
        <li>
            Please link every purchase order to the delivery note and invoice – this is very, very important.
        </li>
        <li>
            After each purchase order is sent, please confirm that you received the order so we know it has been approved. If there are products that are delayed, we would like to know the dates. For products that are out of stock and have an alternative, we would be happy to receive it. The goal is for the customers to receive physical gifts and not vouchers, and if an alternative can be found, that’s great.
        </li>
        <li>
            In the Excel of the purchase order, there is a column for the current inventory status – please, as in previous inventory checks, if there are products that are out of stock, low stock (we would like to know the exact number), not yet received, etc., please send an update by email.
        </li>
        <li>
            Delivery must be coordinated. To coordinate delivery, please contact:
            <ul>
                <li>Contact 1 - Roni - 052-952-8829</li>
                <li>Contact 2 - Yotam - 052-574-3740</li>
            </ul>
            *** Coordination can also be done by reply email.
        </li>
    </ul>
    
    <div class="contact-info">
        <h3>Delivery Address:</h3>
        <p>Orian Warehouse, Pekar 12, Kiryat Malakhi</p>
    
        <h3>Contacts for Receiving Goods at the Warehouse:</h3>
        <p>Warehouse Contact 1: Eli - 054-253-1259</p>
        <p>Warehouse Contact 2: Yaki - 050-877-7556</p>
        <p>Nickels Contact 1: Yotam - 050-742-8054</p>
    </div>
    
    <p>
        Thank you very much for everything and have a great day!<br><br>
        Roni<br>
        052-952-8829
    </p>
 </body>
</html>