{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_import_form" novalidate>
    {% csrf_token %}
    <input id="employee-group-files" name="employee_group_file" type="file" accept=".xlsx" style="display: none;">
    </form>
    {{ block.super }}
    <li>
        <div>
            <a id="import_employee_group_xlsx" href="./" >Import Employee Group</a>
        </div>
    </li>
{%  endblock %}
