{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block extrastyle %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
            const debounce = (func, delay = 500) => {
                let timer;
                return (...args) => {
                    clearTimeout(timer);
                    timer = setTimeout(() => {
                        func.apply(this, args);
                    }, delay);
                };
            };

            const handleSearch = () => {
                const inputSelector = "input#searchbar";
                const input = $(inputSelector);
                input.focus();
                var tmpStr = input.val();
                input.val('');
                input.val(tmpStr);

                const performSearch = debounce((e) => {
                    const query = e.target.value;
                    const params = new URLSearchParams(window.location.search);

                    if (query) {
                        params.set('q', query);
                    } else {
                        params.delete('q');
                    }

                    window.location.search = params.toString();
                });

                if (window.location.search.includes('q=')) {
                    input.focus();
                    const currentValue = (new URLSearchParams(window.location.search)).get('q');
                    input.val(currentValue);
                }

                input.on('input', performSearch);
            };
            handleSearch();
        });
    </script>
{% endblock %}
