{% extends 'admin/change_form.html' %}

{% block extrastyle %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(()=>{
            $('.field-organization').prependTo('fieldset');
            // populate employee groups field
            $('#id_organization').on('change', function() {
                value = this.value || '0';
                link = `/campaign/organization-groups/${value}`;
                $.get(link, (response)=>{
                    $('#id_employee_group>option:gt(0)').remove();
                    response.data.forEach(item => {
                        $('#id_employee_group').append($('<option>', {
                            value: item.id,
                            text : item.name ,
                            'data-auth-method': item.auth_method // Store auth_method in a data attribute
                        }));
                    });
                })
            });
        })
        $(document).ready(()=>{
                // show campaigns on the employee_group selection
                $('#id_employee_group').on('change', function() {
                    const selectedOption = $('#id_employee_group option:selected');
                    const authMethod = selectedOption.data('auth-method');

                    $('.field-login_type').show();

                    if (authMethod) {
                        $('#id_login_type').val(authMethod);
                    } else {
                        $('#id_login_type').val('');
                    }
                    $('.field-employee_group>p').remove();
                    if(! this.value){
                        return;
                    }
                    value = this.value || '0';
                    link = `/campaign/get-campaign/${value}/`;
                    $.get(link, (response)=>{
                        campaigns = response['data'];
                        if (campaigns.length > 0) {
                            var newhtml = '<p style="display:block; float:left;width:>'+campaigns+'</p>';
                            $('.field-employee_group').append('<p style="color: red"> This employee will be part of these campaigns: '+campaigns+'</p>')
                        };
                    })
                });
            })
        $(document).ready(()=>{
            const handle_required_fields = () => {
                const required_fields = [
                    'organization',
                    'employee_group',
                    'first_name_en',
                    'first_name_he',
                    'last_name_en',
                    'last_name_he',
                    'auth_id',
                    'email',
                    'phone_number',
                    'default_language'
                ]
                for(const field of required_fields) $(`label[for="id_${field}"]`).addClass('required');
            }
            const isEditPage = $('#id_employee_group').val() !== '';

            if (isEditPage) {
                $('.field-login_type').show();
            } else {
                $('.field-login_type').hide();
            }
            handle_required_fields();
        })
    </script>
{% endblock %}