{% extends 'admin/change_form.html' %}

{% block inline_field_sets %}
{{ block.super }}
<fieldset class="module">
    <h2>
        Employees
        {% if change %}
            <div class="object-tools">
                <a href="{% url 'admin:import_data_organization_employees' object_id %}" style="margin-top: 45px">Import from XLSX</a>
            </div>
        {% endif %}
    </h2>
    <div class="results">
        <table id="result_list" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col" class="sortable" style="padding-left: 0px;">
                        <div class="text"><a href="?o=1">First name</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable" style="padding-left: 0px;">

                        <div class="text"><a href="?o=2">Last name</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable" style="padding-left: 0px;">

                        <div class="text"><a href="?o=3">Employee group</a></div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id="empty-row" style="display: none;">
                    <th class="field-first_name"><a href=""></a></th>
                    <td class="field-last_name"></td>
                    <td class="field-employee_group nowrap"></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
{% endblock %}
{% block extrastyle %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        const organizationId = '{{ organization_id }}' || None;
        let link = '/campaign/employees-protected-view/' + organizationId;
        $.get(link, (response) => {
            response.data.forEach(item => {
                let new_element = $('#empty-row').clone(true);
                $(new_element).css("display", "table-row");
                $(new_element).removeAttr('id');
                $(new_element).find('a').text(item.first_name);
                $(new_element).find('a').attr('href', `/en/admin/campaign/employee/${item.id}/change/`);
                $(new_element).find('td:eq(0)').text(item.last_name);
                $(new_element).find('td:last').text(item.employee_group.name)
                $("tbody:last").append(new_element);
            });
        })
    })
</script>
{% endblock %}