{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/po_requests.js" %}"></script>
<script src="{% static "js/po_populate.js" %}"></script>
<script>
  window.addEventListener('load', function (){
      let _products = [];
      {% for prod in product_instance.products.all %}
            _products.push([{{ prod.product_id.id }}, {{ prod.quantity_ordered }}])
      {% endfor %}
      suppliersOrder('{{ product_instance.supplier.name }}', _products, '{{ product_instance.notes }}', '{{ product_instance.id }}', '{{ product_instance.status }}');
      let elements = document.getElementById("content").getElementsByTagName("h2");
      if (elements) elements[0].style.display = "none";
  }, false);
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/tailwind.css" %}">
{% endblock %}
{% block content %}
<div class="container" id="react-app" style="flex: 1; width: 100%;">
  <div class="pt-11 px-[14px] bg-[#417893] flex flex-col items-center"><label
      class=" font-sans font-bold text-lg leading-[18px] text-[#f5dd5d]" id="po-number">PO</label>
    <div class="w-full">
      <div class="ml-4 relative mb-[22px] flex items-center gap-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1"
          id="search" x="0px" y="0px" viewBox="0 0 24 24" class="h-[18px] w-[18px] bg-white absolute top-[15px] left-3"
          height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31
  c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79z
   M4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02
  z"></path>
          </g>
        </svg><select name="suppliers" aria-label="Products" id="suppliers"
          class="font-normal text-sm leading-[22px] w-52 h-12 pl-[32px] text-[#697077] focus:outline-none"
          id="headlessui-select-:r0:" data-headlessui-state="">
          <option value="active">Supplier</option>
        </select>
        <div class="flex gap-2 h-8">
          <button class="rounded-lg bg-[#5C5C5C] hover:bg-black px-2" onclick="exportOrder()">Export PO</button>
          <button class="rounded-lg bg-[#5C5C5C] hover:bg-black px-2" onclick="document.getElementById('order-files').click()">Import PO</button>
        </div>
        <input type="file" id="order-files" name="order_files" onchange="importOrderProducts(this)" hidden>
      </div>
      <div class="w-full grid grid-cols-4">
        <div class="col-span-3 flex flex-col border-[#F2F4F8] mb-[6px]">
          <div class="border-t-[1px] border-r-[1px] border-l-[1px]  mb-[6px]">
            <div class="h-[58px] flex items-center"><label
                class="ml-3 font-sans font-bold text-lg leading-7 text-[#f5dd5d]">Products in PO</label></div>
            <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-sm font-semibold leading-[22px] text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="text-center py-3 bg-white">Sku</th>
                    <th scope="col" class="text-center py-3 bg-white">Barcode</th>
                    <th scope="col" class="px-6 py-3 bg-white">Products</th>
                    <th scope="col" class="text-center py-3 bg-white">Cost</th>
                    <th scope="col" class="text-center py-3 bg-white">Quantity</th>
                    <th scope="col" class="text-center py-3 bg-white">Total Price</th>
                    <th scope="col" class="text-center py-3 bg-white"></th>
                  </tr>
                </thead>
                <tbody class="text-[#868788] font-sans font-normal text-sm leading-[22px]" id="table-body">
                </tbody>
              </table>
            </div>
          </div>
          <div class="flex items-center gap-4 mb-[10px]">
            <div class="flex items-center gap-[3px]"><label class=" font-sans font-normal text-sm text-white">Add
                Product</label><button onclick="addProduct()" class="w-[19px] h-[19px] border-dashed border-[1px] border-white"><svg
                  stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                  class=" text-white m-auto" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z">
                  </path>
                </svg></button></div>
            <div>
              <div class="relative"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1"
                  id="search" x="0px" y="0px" viewBox="0 0 24 24"
                  class="h-[18px] w-[18px] bg-white absolute top-[8px] left-3" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31
  c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79z
   M4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02
  z"></path>
                  </g>
                </svg><select name="Products" aria-label="Available Products" id="products"
                  class="font-normal text-sm leading-[22px] w-52 h-[35px] pl-[32px] text-[#697077] focus:outline-none"
                  id="headlessui-select-:r1:" data-headlessui-state="">
                  <option value="0">Sku/Name</option>
                </select></div>
            </div>
          </div><textarea id="note" rows="4"
            class="mb-[23px] block p-2.5 w-full text-sm text-gray-900 bg-[#D9D9D9] rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Notes" required=""></textarea>
          <div class="flex bg-white items-center justify-between px-4">
            <div class="flex gap-1 items-center"><label
                class="font-sans text-black font-extrabold text-3xl">SUB-TOTAL</label><label
                class=" font-assistant font-semibold text-base">(excludes shipping)</label></div><label
              class="font-sans text-black font-extrabold text-3xl" id="sub-total">0₪</label>
          </div>
        </div>
        <div class="flex flex-col px-10 text-white">
          <button
            type="submit"
            onclick="sendPO('{{ product_instance.id }}', true)"
            class=" h-[69px] mb-[42px] rounded-lg bg-[#5C5C5C] hover:bg-black"
          >
            Send PO
          </button>
          {% if product_instance %}
            <button
              onclick="savePO('APPROVED', '{{ product_instance.id }}', false)"
              class="h-[69px] mb-[42px] rounded-lg bg-[#5C5C5C] hover:bg-black"
            >
              Approve PO
            </button>
            <button
              onclick="savePO('CANCELLED', '{{ product_instance.id }}', false)"
              class="h-[69px] rounded-lg bg-[#5C5C5C] hover:bg-black"
            >
              Cancel PO
            </button>
          {% else %}
            <button
              onclick="savePO('PENDING', '{{ product_instance.id }}', false)"
              class="h-[69px] mb-[42px] rounded-lg bg-[#5C5C5C] hover:bg-black"
            >
              Save and continue later
            </button>
            <button
              onclick="savePO('PENDING', '{{ product_instance.id }}', true)"
              class="h-[69px] rounded-lg bg-[#5C5C5C] hover:bg-black"
            >
              Save and keep edit
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}